.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
.terraform.tfstate.lock.info
C:\Terraform\Project\Terraform-project\provisioners\aws_sg.tf
C:\Terraform\Project\Terraform-project\provisioners\aws-key-pair.tf
C:\Terraform\Project\Terraform-project\provisioners\aws-remote-backend.tf
C:\Terraform\Project\Terraform-project\provisioners\aws-vpc.tf
C:\Terraform\Project\Terraform-project\provisioners\aws-vpc-cidr-block-ipv4.tf
C:\Terraform\Project\Terraform-project\provisioners\data-source.tf
C:\Terraform\Project\Terraform-project\provisioners\ec2-instance-resource.tf
C:\Terraform\Project\Terraform-project\provisioners\null-resource.tf
C:\Terraform\Project\Terraform-project\provisioners\output.tf
C:\Terraform\Project\Terraform-project\provisioners\provider.tf
C:\Terraform\Project\Terraform-project\provisioners\userdata.yaml
C:\Terraform\Project\Terraform-project\provisioners\user-data-template.tf